@font-face {
    font-family: 'akkurat';
    src: url('../fonts/akkurat/Akkurat-Light.eot');
    src: url('../fonts/akkurat/Akkurat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/akkurat/Akkurat-Light.woff2') format('woff2'), url('../fonts/akkurat/Akkurat-Light.woff') format('woff'),
        url('../fonts/akkurat/Akkurat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*reset start*/

html,
body {
    height: 100%;
}

body {
    background: #fff;
    color: #333;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'akkurat';
    margin-top: 0;
    line-height: inherit;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

ul>li {
    list-style: none;
}

img {
    border: none;
    outline: none;
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
}

img {
    display: block;
}

a {
    color: #dd9d01;
    text-decoration: none;
    outline: none;
    background: transparent;
}

a:hover {
    text-decoration: none;
    color: #af2331;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a {
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

input:focus,
.input {
    outline: 0;
}

b,
strong {
    font-weight: bold;
}

hr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: arial;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 14px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
button:hover,
button:active,
button:focus {
    outline: none!important;
    box-shadow: none!important;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /*-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;*/
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.2;
}

p {
    line-height: 1.5;
    margin-bottom: 0;
}

main,
section,
header,
nav,
footer,
aside,
figure,
figcaption,
article,
hgroup {
    display: block;
}

audio,
canvas,
video {
    /*display: inline-block;*/
}

audio:not([controls]) {
    display: none;
    height: 0;
}

textarea {
    resize: none;
    outline: none;
}

select {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

p:empty {
    display: none;
}

 ::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
    padding: 1em 0;
}

 ::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

.clearBoth {
    clear: both;
}

 ::-webkit-input-placeholder {
    color: #6a6969 !important;
}

 ::-moz-placeholder {
    color: #6a6969 !important;
    opacity: 1;
}

 :-moz-placeholder {
    color: #6a6969 !important;
    opacity: 1;
}

 :-ms-input-placeholder {
    color: #6a6969 !important;
}

input:-moz-placeholder {
    box-shadow: none !important;
}

.img-responsive {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

select::-ms-expand {
    display: none;
}

  
/*===============================================================
reset ends
=================================================================*/

.desktop {
    display: block!important;
}

.mobile {
    display: none!important;
}

select {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

.error {
    visibility: hidden;
    font-size: 12px;
    color: #ff0000;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
}

div.error label {
    color: #ff0000;
    visibility: visible;
}

div.error * {
    visibility: visible;
}

.modal-header .close {
    outline: none;
}
/* body.modal-open .headerInrCont {
padding-right: 17px;
transition: none;
} */

.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
}

.scroll-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: rgba(227, 44, 39, 1);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-align: center;
    color: #fff;
    z-index: 100;
}

.scroll-top i {
    line-height: 40px;
}


   @-webkit-keyframes autofill {
    to {
        color: rgba(255, 255, 255, .5);
      background: transparent;
    }
  }
  .subscribe-form input:-webkit-autofill{
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }

  @-webkit-keyframes autofillReachout {
    to {
       
      background: transparent;
    }
  }
  .reachus-container input:-webkit-autofill{
    -webkit-animation-name: autofillReachout;
    -webkit-animation-fill-mode: both;
  }
/**media**/

@media only screen and (max-width:767px) {
    .desktop {
        display: none!important;
    }
    .mobile {
        display: block!important;
    }
    p, .list li, .product-detail-box1 li {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: none;
    }
}